.App {
	height: 600px;
	width: 50%;
}

.map-one{
	width: 700px;
	float: left;
	height: 600px;
	margin: 5px;
}
div#eleven {
    width: 70%;
    float: right;
}
.direction-container{
	max-height: 460px;
	overflow: auto;
}
.customClass{
	height: 96%;
}

.search-button{

}

.search-bar{
    widht: 100% ;
}

.search-button{
    border: none;
    padding: 12px 20px;
    height: 100%;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}