.App {
	height: 600px;
	width: 50%;
}

.map-one{
	width: 700px;
	float: left;
	height: 600px;
	padding-bottom: 100px;
	margin: 5px;
}
div#eleven {
    width: 70%;
    float: right;
}
.direction-container{
	max-height: 460px;
	overflow: auto;
}
.customClass{
	height: 96%;
}