.chat-container {
    display: flex;
    height: 93.7vh; /* me gusta 94 en realidad, pero el coso para escribir queda aún más arriba, lo q no me gusta*/
    background-color: #f0f0f0;
}

.contacts {
    width: 200px;
    background-color: #2c3e50;
    color: #fff;
    padding: 10px;
}

.contact {
    list-style: none;
    right: 25px;
    width: 175px;
    padding: 10px;
    cursor: pointer;
    height: auto;
    background: radial-gradient(circle, rgb(255, 255, 255) 70%, rgb(243, 243, 243) 100%);
    position: relative;
    overflow: hidden;
    background: none;
    border-radius: 5px;
}

.contact:hover {
    background-color: #34495e;
}
.contact.active {
    background-color: green; /* Set the background color for the active contact */
    font-weight: bold; /* Make the active contact text bold */
    /* Add any other styles you want for the active contact */
}

.chat {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
/* User Bar */

.user-bar {
    height: 55px;
    background: rgba(44, 62, 80, 0.74);
    color: #fff;
    padding: 0 8px;
    font-size: 24px;
    position: relative;
    z-index: 1;
}

.user-bar div {
    float: left;
    transform: translateY(-50%);
    position: relative;
    top: 50%;
}

.user-bar .name {
    font-size: 17px;
    font-weight: 600;
    text-overflow: ellipsis;
    letter-spacing: 0.3px;
    margin: 0 0 0 8px;
    overflow: hidden;
    white-space: nowrap;
    width: 110px;
}



.conversation {
    flex-grow: 1;
    height: 85vh;
    position: relative;
    z-index: 0;
}

.conversation ::-webkit-scrollbar {
    transition: all .5s;
    width: 5px;
    height: 1px;
    z-index: 10;
}

.conversation ::-webkit-scrollbar-track {
    background: transparent;
}

.conversation ::-webkit-scrollbar-thumb {
    background: #b3ada7;
}

.conversation .conversation-container {
    height: calc(100% - 68px);
    box-shadow: inset 0 10px 10px -10px #000000;
    overflow-x: hidden;
    padding: 0 16px;
    margin-bottom: 5px;
}

/* Messages */

.message {
    color: #000;
    clear: both;
    line-height: 18px;
    font-size: 15px;
    padding: 8px;
    position: relative;
    margin: 8px 0;
    max-width: 40%;
    word-wrap: break-word;
    z-index: -1;
}

.message:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
}

.metadata {
    display: inline-block;
    float: right;
    padding: 0 0 0 7px;
    position: relative;
    bottom: -4px;
}

.metadata .time {
    color: rgba(0, 0, 0, .45);
    font-size: 11px;
    display: inline-block;
}

.message:first-child {
    margin: 16px 0 8px;
}

.message.received {
    background: #fff;
    border-radius: 0px 5px 5px 5px;
    float: left;
    left: 2%;
}

.message.received .metadata {
    padding: 0 0 0 16px;
}

.message.received:after {
    border-width: 0px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
    top: 0;
    left: -10px;
}

.message.sent {
    background: #7b8692;
    border-radius: 5px 0px 5px 5px;
    color:white;
    float: right;
    right: 2%;
}

.message.sent:after {
    border-width: 0px 0 10px 10px;
    border-color: transparent transparent transparent #7b8692;
    color:white;
    top: 0;
    right: -10px;
}

/* Compose */

.conversation-compose {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    overflow: hidden;
    height: 50px;
    width: 82%;
    left: 16.5%;
    top:92%;
    position: absolute;
    z-index: 4;
}

.conversation-compose div,
.conversation-compose input {
    background: #fff;
    height: 100%;
}

.conversation-compose .input-msg {
    border: 0;
    flex: 1 1 auto;
    font-size: 16px;
    margin: 0;
    outline: none;
    min-width: 50px;
}

.conversation-compose .send {
    background: transparent;
    border: 0;
    cursor: pointer;
    flex: 0 0 auto;
    margin-left: 8px;
    margin-right: 8px;
    padding: 0;
    position: relative;
    outline: none;
}
.conversation-compose .send .circle {
    background: #7b8692;
    border-radius: 50%;
    color: #fff;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conversation-compose .send .circle img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    color: white;
}


.messages-display {
    height: 85vh;
    position: relative;
    overflow: auto;
    /*box-shadow: 0 10px 25px rgba(42, 179, 248, 0.4);*/
}


