.confirmationsTitle{
    position: absolute;
    top: -90%;
    left: 60%;
    transform: translate(-60%, -189%);
    font-size: xx-large;
    font-family: "Times New Roman", sans-serif;
    white-space: nowrap;

}
.matchesContainer{
    justify-content: center;
    align-items: center;
    position: relative;
    left: -10%;
    transform: translateY(-20%);
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 20px; /* Agrega un espacio entre los contenedores */
    height: 190px;
    width: 200px;

}

.confirmButton{
    position: absolute;
    background-color: white;

    left: 55%;
    bottom: 5%;
    color: black;
    border: 1px solid #4CAF50;
    border-radius: 1px;
    transition-duration: 0.4s;
}
.confirmButton:hover{
    background: #4CAF50;
    color: white;
}

.declineButton{
    position: absolute;
    background-color: white;

    left: 5%;
    bottom: 5%;
    color: black;
    border: 1px solid #af4c4c;
    border-radius: 1px;
    transition-duration: 0.4s;
}
.declineButton:hover{
    background:#af4c4c ;
    color: white;
}