@import "Login";
.confirmationsTitle{
    position: absolute;
    top: -60px;
    left: 360px;
    transform: translate(-60%, -189%);
    font-size: xx-large;
    font-family: "Tiro Gurmukhi", sans-serif;
    white-space: nowrap;

}
.noConfirmationsTitle{
    position: absolute;
    top: -50px;
    left: 190px;
    transform: translate(-60%, -189%);
    font-size: xx-large;
    font-family: "Tiro Gurmukhi", sans-serif;
    white-space: nowrap;
}
.matchesContainer{
    justify-content: center;
    align-items: center;
    position: relative;
    left: 30%;
    transform: translateY(-20%);
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 20px; /* Agrega un espacio entre los contenedores */
    height: 190px;
    width: 400px;
    font-family: "Tiro Gurmukhi", sans-serif;


}
.match-info {
    display: block;
    text-align: left;
    margin: 5px;
}

.confirmButton{
    position: absolute;
    background-color: white;

    left: 55%;
    bottom: 5%;
    color: black;
    border: 1px solid #4CAF50;
    border-radius: 1px;
    transition-duration: 0.4s;
}
.confirmButton:hover{
    background: #4CAF50;
    color: white;
}

.declineButton{
    position: absolute;
    background-color: white;

    left: 5%;
    bottom: 5%;
    color: black;
    border: 1px solid #af4c4c;
    border-radius: 1px;
    transition-duration: 0.4s;
}
.declineButton:hover{
    background:#af4c4c ;
    color: white;
}
.chatButton{
    /*@extend .button;*/
    text-transform: capitalize;
    margin-left: 300px;
    border-radius: 9px;
    display: block;
    background: white;
    margin-top: 40px;
    /*background-image: url("../images/Modify_team_pencil.jpg");*/
}
.chatButton:hover{
    color: white;
    background: lightgray;

}
.refereeImage{
    position:relative;
    bottom: 60px;
}
.noPendingConfs{
    position: absolute;
    top: 280px;
    left: 210px;
    transform: translate(-60%, -189%);
    font-size: xx-large;
    font-family: "Tiro Gurmukhi", sans-serif;
    white-space: nowrap;
}
.findRButton{
    position: absolute;
    background-color: white;
    left: 55px;
    top: 390px;
    color: black;
    border: 1px solid #b95de3;
    border-radius: 2px;
    transition-duration: 0.4s;
    width: auto;
    padding: 12px 20px;
}
.findRButton:hover{
    background-color: #b95de3;
    color: white;
}
.findRText{
    position: absolute;
    top: 390px;
    left: 170px;
    transform: translate(-60%, -189%);
    font-size: xx-large;
    font-family: "Tiro Gurmukhi", sans-serif;
    white-space: nowrap;
}