.delete-search-button {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 10px;
    position: relative;
    left: 80%;
    top: 2%;
    cursor: pointer;


}
.delete-search-button:hover{
    color: white;
    background: #da190b;
}
.searchesContainer{
    justify-content: center;
    align-items: center;
    position: relative;
    left: -10%;
    transform: translateY(-20%);
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 20px; /* Agrega un espacio entre los contenedores */
    height: 190px;
    width: 200px;

}
.search-info {
    display: block;

}
.searchesTitle {
    position: absolute;
    font-size: xx-large;
    font-family: "Times New Roman", sans-serif;
    bottom: 130%;
    left: -1%;
    white-space: nowrap;
}


.delete-search-button img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    color:black;
}
.searches-popup {
    position: fixed;
    top: 8%;
    left: 45%;
    z-index: 9999;
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px;
    transition: opacity 0.3s ease-in-out;
}

.noActiveSearches{
    position: absolute;
    font-size: xx-large;
    font-family: "Times New Roman", sans-serif;
    bottom: 230%;
    left: -55%;
    white-space: nowrap;

}
.goToUserButton{
    position: relative;
    padding: 12px 39px;
    background-color: white;
    left: 30%;
    bottom: -30%;
    align-items: center;
    color: black;
    border: 1px solid rebeccapurple;
    border-radius: 2px;
    transition-duration: 0.4s;
    width: 60%;
    white-space: nowrap;
    display: flex;
    text-align: center;
    justify-content: center;
}


.goToUserButton:hover{
    background-color: rebeccapurple;
    color: white;
}
.confirmationMenu{
    position: fixed;
    border: 2px solid black;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background: white;

}
.confirmationButton{
    background-color: #26489a;
    color: white;
    border: 1px solid #26489a;
    border-radius: 9px;
    margin-right: 10px;
    margin-left: 5px;
}
.cancelDeleteButton{
    background-color: white;
    color: #26489a;
    border: 1px solid #ccc;
    border-radius: 9px;
    margin-right: 10px;
    margin-left: 5px;
}
.confirmationButton:hover{
    background: red;
    color: white;
}
.cancelDeleteButton:hover{
    background-color: white;
    color: green;
}


