.containerSearchPage {
    position: relative;
    background-color: white;
    z-index: 10;
    align-items: center;
    justify-content: center;
    top: 90px;
    left: 600px;
    /*transform: translateX(600px);*/
    min-height: 100vh;
    font-family: "Times New Roman", sans-serif;
}

.searchesTitle {
    font-size: xx-large;
    /*top: 50px;*/
    /*right: 400px;*/
    white-space:nowrap;
}

.searchesContainer {
    position: relative;
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    width: 300px;
    /*left: 200px;*/
    /*top: 100px; !* Add a top value to create space for the title *!*/
}

.search-info {
    display: block;
    text-align: left;
    margin: 5px;
}

.delete-search-button {
    width: 40px;
    height: 40px;
    padding: 10px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
}
.delete-search-button:hover{
    color: white;
    background: #da190b;
}


.delete-search-button img {
    color:black;
}
.searches-popup {
    position: fixed;
    top: 8px;
    left: 45px;
    z-index: 9999;
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px;
    transition: opacity 0.3s ease-in-out;
}

.goToUserButton{
    position: absolute;
    background-color: white;
    color: black;
    border: 1px solid rebeccapurple;
    border-radius: 2px;
    width: auto;
    height: 50px;
    margin: 20px;
    left: 100px;
    white-space: nowrap;
}


.goToUserButton:hover{
    background-color: rebeccapurple;
    color: white;
}
.confirmationMenu{
    position: fixed;
    border-radius: 9px;
    margin-top: 20px;
    top: 30px;
    left: 575px;
    z-index: 9999;
    background: white;
    padding: 20px;
}
.confirmationButton{
    background-color: #26489a;
    color: white;
    border: 1px solid #26489a;
    border-radius: 9px;
    margin-right: 10px;
    margin-left: 5px;
}
.cancelDeleteButton{
    background-color: white;
    color: #26489a;
    border: 1px solid #ccc;
    border-radius: 9px;
    margin-right: 10px;
    margin-left: 5px;
}
.confirmationButton:hover{
    background: rgba(38, 72, 154, 0.56);
    color: white;
}
.cancelDeleteButton:hover{
    color: white;
    background: rgb(176, 192, 255);
}

.popupContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    align-items: center;
    justify-content: center;
}

.popup-1 {
    position: absolute;
    background-color: white;
    padding: 20px;
    top: 30%;
    left: 39.4%;
    text-align: center;
    border: 1px solid lightgrey;
    border-radius: 5px;
    z-index: 999;
}

