@import url('https://fonts.googleapis.com/css?family=Baloo Bhai 2&display=swap');
@import "Home";
body {
    height: 100vh;
    margin: 0;
    font-family: 'Baloo Bhai 2', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    color: #4E4E4E;
    background-color: $background-color;
    overflow-x: hidden;
}
h1{
    font-family: 'Baloo Bhai 2', sans-serif;
    color: #4E4E4E;
}

.containerSearchPage {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    font-family: 'Baloo Bhai 2', sans-serif;
    text-align: center;
    color: #4E4E4E;
    /*transform: translateX(600px);*/
    //min-height: 100vh;
}
.refereeImageSearches{
    //position:absolute;
    top: 70px;
    left: 300px;
}

.noSearchesTitle {
    position:fixed;
    font-size: large;
    top:130px;
    left:41.7%;
    white-space:nowrap;
}
.hasSearchesTitle{
    //position:relative;
    font-size: xx-large;
    bottom: 3000px;
    white-space:nowrap;
}

.searchesContainer {
    position: relative;
    border: 2px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    width: 300px;
    background-color: #C9DFED;
}
.searchesContainer:hover{
    width: 302.5px;
    background-color: #B4D2E6;
    height: 145px;
    min-height:auto;
}

.search-info {
    display: block;
    text-align: left;
    margin: 5px;
}

.delete-search-button {
    width: 40px;
    height: 40px;
    padding: 10px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
    background-color: transparent;
}
.delete-search-button:hover{
    color: white;
    background: #da190b;
}


.delete-search-button img {
    color:black;
}
.searches-popup {
    position: fixed;
    top: 8px;
    left: 45px;
    z-index: 990;
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px;
    transition: opacity 0.3s ease-in-out;
}

.goToUserButton{
    //position: absolute;
    background-color: white;
    color: black;
    border: 1px solid rebeccapurple;
    border-radius: 10px;
    width: auto;
    height: 50px;

    //margin: 20px;
    //left: 40px;
    //white-space: nowrap;
}


.goToUserButton:hover{
    background-color: rebeccapurple;
    color: white;
}
.confirmationMenu{
    position: fixed;
    border-radius: 9px;
    margin-top: 20px;
    top: 30px;
    left: 575px;
    z-index: 9999;
    background: white;
    padding: 20px;
}
.confirmationButton{
    background-color: #26489a;
    color: white;
    border: 1px solid #26489a;
    border-radius: 9px;
    margin-right: 10px;
    margin-left: 5px;
}
.cancelDeleteButton{
    background-color: white;
    color: #26489a;
    border: 1px solid #ccc;
    border-radius: 9px;
    margin-right: 10px;
    margin-left: 5px;
}
.confirmationButton:hover{
    background: rgba(38, 72, 154, 0.56);
    color: white;
}
.cancelDeleteButton:hover{
    color: white;
    background: rgb(176, 192, 255);
}

.popupContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    align-items: center;
    justify-content: center;
}

.popup-1 {
    //position: absolute;
    background-color: white;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
    width:max-content;
    border: 1px solid lightgrey;
    border-radius: 5px;
    z-index: 999;
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 900; /* Asegura que el popup esté por encima de otros elementos */
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
    padding: 1000px 3000px;
}
.currentSearchesTitle{
    position:fixed;
    font-size: x-large;
    top: 80px;
    left: 41.7%;
}
.recurrentSearchesTitle{
    position:fixed;
    font-size: x-large;
    top:300px;
    left:41.7%;
}
.pendingMatchesTitle{
    position:fixed;
    font-size: x-large;
    top:520px;
    left:41.7%;
}
.currentSearchesList{
    position: fixed;
    left: 10%;
    top: 130px;
    width:auto; /*  Con borde sería 49vh */
    max-width: 1200px;
    /*todo: max-width*/
    height: auto;
    overflow-x: auto;
    display:inline-flex;
}

.line {
    position: absolute;
    left: 0;
    width: 100%; /* The length of the line (500px - 100px) */
    height: 1px; /* The thickness of the line */
    background: linear-gradient(to right, transparent 0%, transparent 25%, gray 50%, transparent 75%, transparent 100%);
}


.search-select {
    margin-left: 6px;
    margin-top: 4px;
    height: auto;
    width: 350px;
    background: radial-gradient(circle, rgb(255, 255, 255) 70%, rgb(243, 243, 243) 100%);
    position: relative;
    overflow: hidden;
    background: white;
    border: 1px solid black;
    border-radius: 15px;
    /*box-shadow: 0 10px 25px rgba(42, 179, 248, 0.4);*/
}
.search-select .info{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
}
.recurringSearchesList{
    position: fixed;
    left: 10%;
    top: 350px;
    width:auto; /*  Con borde sería 49vh */
    max-width: 1200px;
    /*todo: max-width*/
    height: auto;
    overflow-x: auto;
    display:inline-flex;
}
.recurring-select {
    margin-left: 6px;
    margin-top: 4px;
    height: auto;
    width: 350px;
    background: radial-gradient(circle, rgb(255, 255, 255) 70%, rgb(243, 243, 243) 100%);
    position: relative;
    overflow: hidden;
    background: white;
    border: 1px solid black;
    border-radius: 15px;
    /*box-shadow: 0 10px 25px rgba(42, 179, 248, 0.4);*/
}
.recurring-select .info{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
}
.noRecurringSearchesTitle{
    position:fixed;
    font-size: large;
    top:350px;
    left:41.7%;
    white-space:nowrap;

}
.pendingConfirmationsList{
    position: fixed;
    left: 10%;
    top: 570px;
    width:auto; /*  Con borde sería 49vh */
    max-width: 1200px;
    /*todo: max-width*/
    height: auto;
    overflow-x: auto;
    display:inline-flex;
}

.matches-select {
    margin-left: 6px;
    margin-top: 4px;
    height: auto;
    width: 370px;
    background: radial-gradient(circle, rgb(255, 255, 255) 70%, rgb(243, 243, 243) 100%);
    position: relative;
    overflow: hidden;
    background: white;
    border: 1px solid black;
    border-radius: 15px;
    /*box-shadow: 0 10px 25px rgba(42, 179, 248, 0.4);*/
}
.matches-select .info{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
}
.confirmButton{
    position: absolute;
    left: 55%;
    bottom: 5%;
    border-radius: 20px;
    transition-duration: 0.4s;
}

.declineButton{
    position: absolute;
    left: 5%;
    bottom: 5%;
    border-radius: 20px;
    transition-duration: 0.4s;
}
.noPendingMatchesTitle{
    position:fixed;
    font-size: large;
    top: 570px;
    left:41.7%;
    white-space:nowrap;

}
.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


