@import url('https://fonts.googleapis.com/css?family=Baloo Bhai 2&display=swap');
@import "Login";
.editTeamContainer {
    z-index: 1;
    color: #4E4E4E;
    font-family: 'Baloo Bhai 2', sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
}
.team_name {
    position: absolute;
    left: 50%;
    top: 16%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    font-size: xxx-large;
}
.sport_and_quantity{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    font-size: large;

}

.logo {
    position: absolute;
    left: 30%;
    top: 2%;
    transform: translate(-50%, -50%);
    background-color: white;

}
.edit-team-name{
    position: absolute;
    left: 300px;
    top: 280px;
}
.edit-age-group{
    position: absolute;
    left: 610px;
    top: 255px;
}
.edit-sport{
    position: absolute;
    left: 810px;
    top: 255px;
}
.edit-quantity{
    position: absolute;
    left: 1030px;
    top: 280px;
}
.saveChangesButton {
    position: absolute;
    background-color: white;
    padding: 12px;
    top: 500px;
    color: black;
    border: 1px solid #4CAF50;
    border-radius: 1px;
    transition-duration: 0.4s;
    margin: 20px;
    width: auto ;
}

.saveChangesButton:hover {
    background-color: #4CAF50;
    color: white;
}
.goBackButton{
    position: absolute;
    background-color: white;
    padding: 12px;
    border-radius: 1px;
    transition-duration: 0.4s;
    margin: 20px;
    width: max-content;
    font-size: 16px;
    cursor: pointer;
    right: 850px;
    top: 500px;

    color: black;
    border: 1px solid rebeccapurple;
}
.goBackButton:hover{
    background-color: rebeccapurple;
    color: white;
}
.delete-button {
    position: absolute;
    background-color: white;
    padding: 12px;
    border-radius: 1px;
    transition-duration: 0.4s;
    margin: 20px;
    width: max-content;
    color: #f44336;
    border: 1px solid #da190b;
    font-size: 16px;
    cursor: pointer;
    right: 700px;
    top: 500px;
}

.delete-button:hover {
    background-color: #da190b;
    color: white;
}
