.mainContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.containerForgotPassword {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid gray;
    padding: 10px 40px 40px;
    border-radius: 10px;
    text-align: center;
}

/*button {*/
/*    background-color: #4CAF50; !* Green *!*/
/*    border: none;*/
/*    color: white;*/
/*    padding: 12px 20px;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    font-size: 16px;*/
/*    transition-duration: 0.4s;*/
/*    cursor: pointer;*/
/*}*/

.showTeamButton {
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    border: 1px solid #4CAF50;
    border-radius: 1px;
    transition-duration: 0.4s;
    width: 100%;
}

.showTeamButton:hover {
    background-color: #4CAF50;
    color: white;
}

input, select {
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4px;
}

lable {
    text-align: center;
    justify-content: center;

}

.greenButton {
    position: relative;
    background-color: white;
    color: black;
    border: 1px solid #4CAF50;
    border-radius: 1px;
    transition-duration: 0.4s;


}

.greenButton:hover {
    background-color: #4CAF50;
    color: white;
}
.inputContainer{
    position: relative;
}

.signUpButtonLogin {
    position: relative;
    top : 1%;
    left: 0%;
    background-color: white;
    padding: 12px 20px;
    color: black;
    border: 2px solid #b95de3;
    border-radius: 4px;
    transition-duration: 0.4s;
}

.signUpButtonLogin:hover {
    background-color: #b95de3;
    color: white;
}

.goToSignUp {
    position: relative;
    right: 1%;
    background-color: white;
    padding: 10px 20px;
    color: black;
    border: 2px solid #b95de3;
    border-radius: 4px;
    transition-duration: 0.4s;
}
.goToSignUp:hover{
    background-color: #b95de3;
    color: white;
}

.forgotPasswordImage {
    width: 100px;
    height: auto;
    padding: 10px;
}
