.map-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
}

.map {
    flex: 2;
    height: 100%;
}

.noConfirmedMatchesTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-family: "Tiro Gurmukhi", sans-serif;
    white-space: nowrap;
}

.refereePicture{
    position:fixed;
    bottom: 470px;
    left: 600px;
}
.noMatchesTitle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%; /* Ajusta la posición vertical según sea necesario */
    font-size: xx-large;
    font-family: "Tiro Gurmukhi", sans-serif;
    white-space: nowrap;
}

.findRivalText{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    font-size: xx-large;
    font-family: "Tiro Gurmukhi", sans-serif;
    white-space: nowrap;
}
.findRivalB{
    position: absolute;
    background-color: white;
    top:70%;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    border: 1px solid #b95de3;
    border-radius: 2px;
    transition-duration: 0.4s;
    width: auto;
    padding: 12px 20px;
}
.findRivalB:hover{
    background-color: #b95de3;
    color: white;
}
.matches-list {
    position: fixed;
    left: 60%;
    bottom:50%;

}
.content {
    flex: 1;
    display: flex;
    justify-content: space-between;
}
.headerContainer{
    position:fixed;
    left:60%;
    bottom:75%;
}
