.containerPrincipal{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    text-align: center;
    text-decoration: none;
}

button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.logInButton{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    border-radius: 4px;
    transition-duration: 0.4s;
    width: 200px;
}
.logInButton:hover {
    background-color: #4CAF50;
    color: white;
}
.signUpButton{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    border: 2px solid #b95de3;
    border-radius: 4px;
    transition-duration: 0.4s;
    width: 200px;
}
.signUpButton:hover {
    background-color: #b95de3;
    color: white;
}