@import "Login";
.Menu{
    position: absolute;
    /*background-color: #E2E2E2;*/
    /*color: black;*/
    /*border: 1px solid #E2E2E2;*/
    background-color: #ccc;
    border-radius: 1px;
    transition-duration: 0.4s;
    top: 8px;
    right: 7px;
}
.side-bar {
    top: 22px;
    height: 75vh;
    width: 30vh;
    background: radial-gradient(circle, rgb(255, 255, 255) 70%, rgb(243, 243, 243) 100%);
    position: relative;
    flex-direction: column;
    background: white;
    border-radius: 9px;
    box-shadow: 0 10px 25px rgba(162, 162, 162, 0.4);
}
.side-bar .select{
    height: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    border-color: white;
}
.side-bar .option{
    text-align: left;
    @extend .button;
    padding: 16px;
    border-radius: 9px;
    transition: all 0.2s ease;
    color: #292d34;
}
.side-bar .option:hover{
    color: white;
    background: #9b9a9a;
    box-shadow: 0 10px 25px rgba(162, 162, 162, 0.4);
}

.side-bar .signOut-option {
    @extend .button;
    padding: 16px;
    border-radius: 9px;
    margin: 20px;
    width: 30vh;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    background-color: white;
    color: #f44336;
    position: absolute;
    bottom: 0;
    border: none;
    /*right: 0;*/
    /*border: 1px solid #da190b;*/
    /*top: 800px;*/
    /*box-shadow: 0 10px 25px rgba(162, 162, 162, 0.4);*/
}
.side-bar .signOut-option:hover{
    color: white;
    background: #f44336;
    box-shadow: 0 10px 25px rgba(244, 67, 54, 0.4);
    /*bottom: 100px;*/
}

/*.custom-select select {*/
/*    display: none; !*hide original SELECT element: *!*/
/*}*/